* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding-inline: 0.4ch;

    --color: var(--color-black);

    color: var(--color);
    background-color: transparent;
    border-color: var(--color);
}

button:active {
    background-color: var(--color);
    color: var(--color-white);
}

:where(button, input) {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px currentColor solid;
    border-radius: 0;
    background-color: transparent;
}

:where(button, input):focus {
    outline: 1px var(--color-primary) solid;
    outline-offset: 1px;
}
