:where([class*="stack"]) {
    --gap: var(--gap-0);

    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

:where([class*="stack-row"]) {
    align-items: center;
    flex-direction: row;
}

.border {
    border: 1px var(--color, currentColor) solid;
}
