<style>
    :host {
        display: flex;
        align-items: center;
        gap: var(--space-0);
    }
    button {
        color: var(--color-primary);
        border-color: currentColor;
    }
    :host(:active) {
        color: var(--color-primary);
        transition: color 100ms ease;
    }
    input[type="text"] {
        max-width: 6ch;
    }
    #parameter {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-0);
    }
    #picker {
        opacity: 0.4;
        transition: opacity 100ms 0ms ease;
    }

    #picker:hover {
        transition-delay: 100ms;
        opacity: 1;
    }
</style>

<button id="picker" onclick="get_host(event.target).set_module_pointer('cool')">
    p
</button>
<div id="parameter">
    <div id="label"></div>
    <slot></slot>
</div>
